In [86]:
import pandas as pd
import numpy as np
from sklearn import linear_model

df=pd.read_csv('train.csv')

In [87]:
df= df.drop(['id','vendor_id','passenger_count','store_and_fwd_flag'],axis=1)

In [88]:
df['pickup_datetime'] = df['pickup_datetime'].str.replace('\D', '').astype(np.int64)
df['dropoff_datetime'] = df['dropoff_datetime'].str.replace('\D', '').astype(np.int64)

<ipython-input-88-2f428af2d894>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['pickup_datetime'] = df['pickup_datetime'].str.replace('\D', '').astype(np.int64)
<ipython-input-88-2f428af2d894>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['dropoff_datetime'] = df['dropoff_datetime'].str.replace('\D', '').astype(np.int64)

In [89]:
df

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
0,20160314172455,20160314173230,-73.982155,40.767937,-73.964630,40.765602,455
1,20160612004335,20160612005438,-73.980415,40.738564,-73.999481,40.731152,663
2,20160119113524,20160119121048,-73.979027,40.763939,-74.005333,40.710087,2124
3,20160406193231,20160406193940,-74.010040,40.719971,-74.012268,40.706718,429
4,20160326133055,20160326133810,-73.973053,40.793209,-73.972923,40.782520,435
...,...,...,...,...,...,...,...
1458639,20160408133104,20160408134402,-73.982201,40.745522,-73.994911,40.740170,778
1458640,20160110073515,20160110074610,-74.000946,40.747379,-73.970184,40.796547,655
1458641,20160422065741,20160422071025,-73.959129,40.768799,-74.004433,40.707371,764
1458642,20160105155626,20160105160239,-73.982079,40.749062,-73.974632,40.757107,373
1458643,20160405144425,20160405144743,-73.979538,40.781750,-73.972809,40.790585,198

In [90]:
#spliting datatsheet
X_train=df[['pickup_datetime','pickup_longitude', 'pickup_latitude']]
y_train=df[['dropoff_datetime','dropoff_longitude','dropoff_latitude','trip_duration']]

In [91]:
# Create linear regression object
regr = linear_model.LinearRegression()
# Train the model using the training sets
regr.fit(X_train,y_train)

LinearRegression()

In [117]:
#importing test file
df_test=pd.read_csv('test.csv')
df_test= df_test.drop(['id','vendor_id','passenger_count','store_and_fwd_flag'],axis=1)
df_test['pickup_datetime'] = df_test['pickup_datetime'].str.replace('\D', '').astype(np.int64)
#df_test['dropoff_datetime'] = df_test['dropoff_datetime'].str.replace('\D', '').astype(np.int64)

X_test=df_test[['pickup_datetime','pickup_longitude', 'pickup_latitude']]

# Make predictions using the testing set
y_pred = regr.predict(X_test)

<ipython-input-117-29a0df4ad76f>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_test['pickup_datetime'] = df_test['pickup_datetime'].str.replace('\D', '').astype(np.int64)

In [118]:
y_pred_1=y_pred[:,0].astype(np.int64)
y_pred_2=y_pred[:,1].astype( np. float64)
y_pred_3=y_pred[:,2].astype( np. float64)
y_pred_4=y_pred[:,3].astype( np. float64)
y_pred=np.concatenate((y_pred_1,y_pred_2,y_pred_3,y_pred_4))

print(y_pred)
#y_pred

[2.01606303e+13 2.01606303e+13 2.01606303e+13 ... 8.65897661e+02
 9.82269763e+02 1.05072893e+03]

array([20160630289765,            -73,             40], dtype=int64)