In [142]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error

df=pd.read_csv('train.csv')

In [143]:
#df['pickup_datetime'] = df['pickup_datetime'].str.replace('\D', '').astype(np.int64)
#df['dropoff_datetime'] = df['dropoff_datetime'].str.replace('\D', '').astype(np.int64)

In [144]:
y=df[['trip_duration']]
X= df.drop(['id','vendor_id','pickup_datetime','dropoff_datetime','store_and_fwd_flag','trip_duration'], axis=1)
print(X)

         passenger_count  pickup_longitude  pickup_latitude  \
0                      1        -73.982155        40.767937
1                      1        -73.980415        40.738564
2                      1        -73.979027        40.763939
3                      1        -74.010040        40.719971
4                      1        -73.973053        40.793209
...                  ...               ...              ...
1458639                4        -73.982201        40.745522
1458640                1        -74.000946        40.747379
1458641                1        -73.959129        40.768799
1458642                1        -73.982079        40.749062
1458643                1        -73.979538        40.781750

         dropoff_longitude  dropoff_latitude
0               -73.964630         40.765602
1               -73.999481         40.731152
2               -74.005333         40.710087
3               -74.012268         40.706718
4               -73.972923         40.782520
...                    ...               ...
1458639         -73.994911         40.740170
1458640         -73.970184         40.796547
1458641         -74.004433         40.707371
1458642         -73.974632         40.757107
1458643         -73.972809         40.790585

[1458644 rows x 5 columns]

In [145]:
#spliting datatsheet
#X_train=df[['pickup_datetime','pickup_longitude', 'pickup_latitude']]
#y_train=df[['trip_duration']]

#X_train,X_test, y_train, y_test = train_test_split(X, y, test_size=0.1,)

In [146]:
# Create linear regression object
regr = linear_model.LinearRegression()
# Train the model using the training sets
regr.fit(X,y)

LinearRegression()

In [147]:
#importing test file
X_test=pd.read_csv('test.csv')
X_test= X_test.drop(['id','vendor_id','pickup_datetime','store_and_fwd_flag'],axis=1)
#df_test['pickup_datetime'] = df_test['pickup_datetime'].str.replace('\D', '').astype(np.int64)
#df_test['dropoff_datetime'] = df_test['dropoff_datetime'].str.replace('\D', '').astype(np.int64)

#X_test=df_test[['vendor_id','pickup_longitude', 'pickup_latitude','dropoff_longitude','dropoff_latitude']]
#print(X_test)
#y_test=df_test[['trip_duration']]

# Make predictions using the testing set
y_pred = regr.predict(X_test)

#y_pred= pd.DataFrame(y_pred, columns=['trip_duration'])

#y_pred.trip_duration= y_pred.trip_duration.astype(int)

In [148]:
#Importing sample_submission/y_test file
y_test=pd.read_csv('sample_submission.csv')
y_test=y_test.drop(['id'], axis=1)

print(y_pred)
print(y_test)


# The mean squared error (Ελάχιστα Τετράγωνα)
print('Mean squared error: %.2f'  % mean_squared_error(y_test, y_pred))


# The coefficient of determination: 1 is perfect prediction
print(regr.score(X_test,y_test))
print(r2_score(y_test,y_pred))
 
#score= regr.score(X_test, y_test)
#print(score)
#y_pred_1=y_pred[:,0].astype(np.int64)
#y_pred_2=y_pred[:,1].astype( np.float64)
#y_pred_3=y_pred[:,2].astype( np.float64)
#y_pred_4=y_pred[:,3].astype( np.float64)
#y_pred=np.concatenate((y_pred_1,y_pred_2,y_pred_3,y_pred_4))

#print(y_pred_1)
#y_pred

[[ 972.18369893]
 [1378.70125652]
 [ 971.05913104]
 ...
 [ 884.37777996]
 [ 681.37697964]
 [1042.537715  ]]
        trip_duration
0                 959
1                 959
2                 959
3                 959
4                 959
...               ...
625129            959
625130            959
625131            959
625132            959
625133            959

[625134 rows x 1 columns]
Mean squared error: 44788.41
0.0
0.0

In [74]:
df

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435
...,...,...,...,...,...,...,...,...,...,...,...
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198